body{
	overflow:hidden;
	background-color: #f1f0ee;
	color: #393939;
    height: 100%;
    width: 100%
}

h1 {
	text-align: center;
	color: #393939;
}
.content {
	#display: none;
}

#header_box {
    display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
    font-size: 2em;
}
.header {
}

.map_stuff {
    display: none;
}

.airport:hover {
    background-color: red;
}

.airport {
    #border: 1px solid black;
}

#flight_page {
    height: 100%;
    width: 100%;
}
#main_box {
	border: 2px solid #393939;
	border-radius: 10px;
	height: 80%;
	width: 80%;
	text-align: center;
	position: relative;
	background-color: lightgrey;
	margin: auto;
}

#main_page {
    #border: 2px solid blue;
    height: 90%;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
}

#login_box {
	display: none;
}

#map {
    margin: auto;
    height: 50%;
    width: 60%;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#myInput {
    background-image: url("searchicon.png");
    background-repeat: no-repeat;
    font-size: 1em;
    padding: 2.5% 1.25% 2.5% 12%;
    border: none;
    width: 87%;
    border-bottom: 1px solid #ddd;
    position: relative;
    
}

#myInput:focus .dropdown-content{display: block;}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50%;
    width: 75%;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 50%;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin: auto;
}

.dropdown-content a {
    color: black;
    padding: 5% 5%;
    display: block;
    font-size: 1em;
}

[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
	}

