body{
	overflow:hidden;
	background-color: #eaeaea;
	color: #60605f;
    height: 100%;
    width: 100%
}

h1 {
	text-align: center;
	color: #60605f;
}
.content {
	#display: none;
}

#header_box {
    display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
    font-size: 1.5em;
    padding-bottom: 2%;
    font-weight: bold;
}
#flightsHeader{
    display: flex;
	flex-direction: row;
}
#flightsHeader2{
    display: flex;
	flex-direction: row;
}
#places_header{
    display: flex;
	flex-direction: row;
	#text-align: center;
	#justify-content: space-evenly;
	align-items: center;
    font-size: 0.85em;
    border-bottom: 1px solid #60605f;
    #border-top: 1px solid grey;
    height: 10%;
    margin-bottom: 5px;
}

.tix{
    display:flex;
    flex-direction: row;
    height: 20%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 0.5%;
    font-size: 0.85em;
    #padding-top: 2.5%;
}
.flightInstance{
    display:flex;
    flex-direction: row;
}

.restaurantObject{
    display: flex;
	flex-direction: row;
	#text-align: center;
	#justify-content: space-evenly;
	align-items: center;
    font-size: 0.85em;
    #border-bottom: 1px solid grey;
    #border-top: 1px solid grey;
    height: 15%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 0.5%;
    padding-top: 2%;
}

.placeObject{
    #border: 1px solid black;
    width: 25%;
    height: 100%;
}
#name:hover{
    background-color:#c0c0be;
}
.name {
    width: 55%;
}
#price:hover{
    background-color:#c0c0be;
}
.price{
    width: 15%;
}
#rate:hover{
    background-color:#c0c0be;
}
.rate{
    width: 15%;
}
#open:hover{
    background-color:#c0c0be;
}
.open{
    width: 15%;
}

#places_item {
    height: 80%;
}

#date:hover {
    background-color: #c0c0be;
}
.date {
    width: 20%;
}

#time:hover {
    background-color: #c0c0be;
}
.time{
    width:20%;
}

#arrivalAirport:hover {
    background-color: #d8dfe5;
}

.arrivalAirport:hover {
    background-color: #d8dfe5;
}

.arrival{
    width: 30%;
}

#departureAirport:hover {
    background-color: #c0c0be;
}

.departureAirport:hover {
    background-color: #d8dfe5;
}
.departTureAirport:hover {
    
}
.departure{
    width:30%;
}

#myCurrentFlights{
    height: 80%;
    overflow-y: auto;
}

.fheader {
    height: 100%;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #60605f;
    #width: 25%;
    font-size: 0.75em;
    margin-bottom: 1%;
}
#currentFlights{
    height: 50%;
}
.pheader {
    height: 100%;
}

.map_stuff {
    display: none;
}
#tickets {
    display: none;
    height: 100%;
}

.airport:hover {
    background-color: red;
}
.airport1:hover{
    background-color: red;
}
.airport2:hover{
    background-color: red;
}

.airport {
    font-size: 0.5em;
    #border: 1px solid black;
}

#flight_page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main_box {
	#border: 2px solid #393939;
	border-radius: 10px;
	height: 90%;
	width: 80%;
	text-align: center;
	position: relative;
	#background-color: lightgrey;
	margin: auto;
}
#places_item{
    overflow-y: auto;
}

#main_page {
    #border: 2px solid blue;
    height: 90%;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

#login_box {
	display: none;
}

#map {
    margin: auto;
    height: 50%;
    width: 98%;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c0c0be;
  opacity: 1; /* Firefox */
}

.searchbar:focus {outline: 3px solid #ddd;}

.searchbar {
    background-image: url("searchicon.png");
    background-repeat: no-repeat;
    font-size: 1em;
    padding: 2.5% 1.25% 2.5% 12%;
    border: none;
    width: 80%;
    height: 10%;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 5px; 
}

#bookSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

#arrival{
    width: 100%;
    font-size: 1em;
    border: none;
    height: 50%;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
}

#departure{
    width: 100%;
    font-size: 1em;
    border: none;
    height: 50%;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
}

#findFlight{
    width: 15%;
    font-size: 1em;
    border: 2px solid grey;
    height: 30%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: lightskyblue;
}

#findFlight:hover {
    background-color: greenyellow;
}

#flightDate {
    width: 100%;
    font-size: 1em;
    border: none;
    height: 50%;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
}

.dropdown2{
    position: relative;
    margin: auto;
    width: 50%;
    margin-right: 1.5%;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50%;
    width: 40%;
    margin: auto;
}
#flightButton{
    height: 5px;
}
#bookFlight {
    display: flex;
    flex-direction: row;
    height:50%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    max-height: 100%;
    width: 88%;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin: auto;
}

.dropdown-content a {
    color: black;
    padding: 5% 5%;
    display: block;
    font-size: 1em;
}
.dropDepartures {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    min-width: 50%;
    max-height: 100%;
    width: 63%;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin: auto;
}
.dropDepartures a {
    color: black;
    padding: 5% 5%;
    display: block;
    font-size: 1em;
}
.dropArrivals {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    min-width: 50%;
    max-height: 100%;
    width: 63%;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1;
    margin: auto;
}
.dropArrivals a {
    color: black;
    padding: 5% 5%;
    display: block;
    font-size: 1em;
}

#places {
    height: 50%;
    text-align: center;
}

.header:hover {
    color: #181817;
}

.restaurantObject:hover {
    background-color: #d8dfe5;
}

/* .place:hover {
    background-color: red;
}
.pheader:hover {
    color: red;
}

#flightList{
    display: none;
}

[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
	}