body{
	overflow:hidden;
	background-color: #f1f0ee;
	color: #393939;
}

h1 {
	text-align: center;
	color: #393939;
}
.content {
	display: none;
}

.review {
	display: none;
}
.header {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
}

#main_box {
	border: 2px solid #393939;
	border-radius: 10px;
	height: 80vh;
	width: 80%;
	text-align: center;
	position: relative;
	background-color: lightgrey;
	margin: auto;
}

#login_box {
	#display: none;
}

[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text)
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }

	  .dropdown:hover .dropdown-content {display: block;}
	  .dropdown-content{
		  max-height: 100px;
		  overflow: auto;
	  }

